{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/project.css' %}">

<h2 class="section-title">My Projects</h2>

<div class="projects-list">
    {% if MyProjects %}
        {% for project in MyProjects %}
            <div class="project-card">
                <a href="{% url 'project_detail' project.project_id %}">
                    {% if project.cover_image %}
                        <img src="{{ project.cover_image.url }}" class="project-img" alt="{{ project.title }}">
                    {% else %}
                        <img src="{% static 'media/project_covers/default_project_cover.png' %}" class="project-img" alt="{{ project.title }}">
                    {% endif %}
                </a>
                <div class="project-info" style="text-align: start;">
                    <h2 class="project-name">{{ project.name }}</h2>
                    <h3 class="project-title">{{ project.title }}</h3>
                    <p class="project-author">
                        By {{ project.author.username }} | {{ project.created_at|date:"F j, Y" }}
                    </p>
                    <div class="project-meta">
                        <span><i class="fa-solid fa-star"></i> {{ project.likes }}</span>
                        <span><i class="fa-solid fa-eye"></i> {{ project.views }}</span>
                    </div>
                    <div class="project-description">
                        {{ project.description|truncatewords:20 }}<span><a href="{% url 'project_detail' project.project_id %}">...view more</a></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Add New Card -->
    <div class="add-card">
        <a href="{% url 'create_project' %}">
            <span>+</span>
        </a>
    </div>
    
</div>
{% endblock %}
