{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forge your Future</title>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <script src="https://kit.fontawesome.com/704721be89.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <!-- Common header content -->
        <div class="navbar">
            <button class="nav-button"><p class="head-title">Forge your Future</p></button>
            <button class="nav-button">
                <button><a href="{% url 'home' %}">Home</a></button>
            </button>
            <button><a href="{% url 'create_project' %}">Add Project <i class="fa-solid fa-pen-to-square" style="color: inherit;"></i></a></button>
            <button class="search">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="q" placeholder="Search" autocomplete="off" style="height: 30px; margin: 0; padding: 0 5px; background-color: whitesmoke;">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: inherit; padding: 0 5px 0 0;"></i></button>
                </form>
            </button>
            <button class="nav-button">
                <button style="border-radius: 50%; margin-right: 0;">
                    {% if user.is_authenticated %}
                        {% if user.profile.profile_photo %}
                            <img src="{{ user.profile.profile_photo.url }}" alt="{{ user.profile.full_name }}" style="height: 25px; border-radius: 50%; border-style: solid;">
                        {% else %}
                            <img src="{% static '../media/profile_photos/user.png' %}" alt="{{ user.profile.full_name }}" style="height: 25px; border-radius: 50%; border-style: solid;">
                        {% endif %}
                    {% else %}
                        <button><a href="{% url 'login' %}">Login</a></button>
                    {% endif %}
                </button>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropbtn">
                        {{ user.username }} <i class="fa-solid fa-caret-down" style="color: inherit"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'edit_profile' %}">Edit Profile</a>
                        <a href="#" onclick="logoutConfirmation()" style="color: #b40000;">
                            <i class="fa-solid fa-right-from-bracket" style="color: #b40000;"></i> Logout
                        </a>
                    </div>
                </div>
                {% endif %}
            </button>
        </div>      
    
        <div class="search-bar">
            <button style="border-style: solid; border-radius: 6px; border-width: 2px; border-color: black;">
                <input type="text" placeholder="Search" style="height: 30px; padding: 0 5px;">
                <i class="fa-solid fa-magnifying-glass" style="color: inherit; padding: 0 5px 0 0;"></i>
            </button>
        </div>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
<script>
    function logoutConfirmation() {
      if (confirm('Are you sure you want to logout?')) {
        window.location.href = "{% url 'logout' %}";
      }
    }
</script>
</html>
