{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forge your Future</title>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <script src="https://kit.fontawesome.com/704721be89.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
        <div class="wrap">
            <div class="top-projects">
                <h2>Top Projects</h2>
                <div class="projects-list">
                    {% for project in Projects %}
                        <a class="project" href="{% url 'project_details' project_id=project.project_id %}">
                            <div class="cover">
                                <img src="{{ project.cover_image.url }}" alt="Book Cover">
                            </div>
                            <div class="details">
                                <h3>{{ project.title }}</h3>
                                {% for skill in project.skill_id.all %}
                                    <p class="skill">{{ skill.name }}</p>
                                {% endfor %}
                                <p class="author">By {{ project.author.profile.pen_name }}</p>
                                <p class="date">{{ project.created_at|date:"F d, Y" }}</p>

                                {% if project.description|length < 150 %}
                                    <p>{{ project.description }}</p>
                                {% else %}
                                    <p>
                                        {{ project.description|slice:":150" }} 
                                        <strong>See more...</strong>
                                    </p>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}  
                </div>
            </div> 

            <div class="side-nav">
                <br><br><br>
                <h3 class="title">Popular skills</h3>
                {% for skill in Skills %}
                    {% if forloop.counter <= 10 %}
                        <a class="skill" href="{% url 'skill_projects' skill_name=skill.name %}">{{ skill.name }}</a>
                    {% endif %}
                {% endfor %}
                <a class="skill" href="{% url 'skills' %}" style="background-color: #00000096; color: white;">more</a>
            </div>
        </div>
        
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    {% endblock %}
</body>
</html>