{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_.css' %}">

    <script src="https://kit.fontawesome.com/704721be89.js" crossorigin="anonymous"></script>

</head>
<body>
    {% block content %}
    <div class="container">
        <h5 id="title">Edit Your Profile</h5>
        
        <form method="POST" enctype="multipart/form-data" id="profile-form">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <h6 class="section-title">Profile Details</h6>
            
            <div class="form-group">
                <label for="{{ Profile.full_name.id_for_label }}">Full Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ Profile.full_name }}
                </div>
            </div>
            
            <div class="form-group">
                <label for="{{ form.objective.id_for_label }}">Objective</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                    {{ form.objective }}
                </div>
            </div>
            
            <div class="form-group">
                <img id="profile-photo-preview" src="{{ Profile.instance.profile_photo.url }}" alt="Profile Photo" width="150" style="border-radius: 100px;">
                <br>
                Change
                <input type="file" name="profile_photo" class="form-control-file" id="profile-photo-input" accept="image/*">
            </div>

            <div class="btn-field">
                <button><a href="{%url 'home' %}">Cancel</a></button>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>